@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");

* {
   font-family: "Source Sans Pro", sans-serif;
}

#main-title {
   color: white;
   background-color: rgb(67, 136, 119);
   text-align: center;
}

.container {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-wrap: nowrap;
}

.flex {
   width: 300px;
   padding-right: 20px;
}

.math {
   font-family: "Mathcad UniMath Prime", serif;
   font-style: italic;
   display: flex;
}

.math span {
   font-family: "Mathcad UniMath Prime", serif;
   font-style: italic;
}

.wrap {
   display: flex;
   flex-direction: column;
}

input {
   width: 100px;
}

label {
   padding-top: 8px;
}
